<h1>Chat</h1>
<div class="span4">
	<div class="well sidebar-nav" id="users">
		<ul class="nav nav-list" id="user-list">
			<li class="nav-header">
				<%= @room.name %>
			</li>
			<li class="nav-header">
				Users (<span id="num-users"><%= @usersIn.size%></span>)
			</li>
			<li id="liUsers">

				  <% for user in @usersIn %>
				    <% if user.id == current_user.id %>
				    	<a href="#" class="elpropio user_<%= user.id%>" id="<%= user.id%>">
							<i class="icon-star"></i>
							<%= user.username%>
						</a>
					<% else %>
						<a href="#" class="user_<%= user.id%>" id="<%= user.id%>">
							<%= user.username%>
						</a>
					<% end %>
				  <% end %>
			</li>
		</ul>
	</div>
</div>
<div class="span8" id="messages">
	<div class="row" id="messages-inner">
		<ul id="chat">
		  <%= render @messages %>
		</ul>
	</div>
	<div class="row" id="input">
		<%= form_for ([@room, @new_message]), remote: true, :html => { :class => "well"}  do |f| %>
		  <%= f.text_field :room_id, :type => :hidden,  :value => "#{@room.id}" %>
		  <%= f.text_field :content %>
		  <%= f.submit "Send" %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(window).bind('beforeunload', function() {
		$.ajax({
			type: "GET",
          	async:false,
          	url: "/rooms/<%= @room.id%>/user_out/<%= current_user.id%>",
          	dataType: "json"
          	}).done(function() { 
            	console.log("Chao!");
          	});
    });

	<% publish_to "/rooms/#{@room.id}" do %>
	   $('#liUsers').append("<a id='<%= current_user.id%>' class='user_<%= current_user.id%>' ><%= current_user.username%></a>")
	   $("#num-users").text($("#liUsers a").size());
	<% end %>

	$("#messages-inner").animate({ scrollTop: $("#chat").prop('scrollHeight')}, 1000);

</script>
<%= subscribe_to "/rooms/#{@room.id}" %>