<h1>Chat</h1>
<div class="span4">
	<div class="well sidebar-nav" id="users">
		<ul class="nav nav-list" id="user-list">
			<li class="nav-header">
				<%= @room.name %>
				<ul class="room-description">
					<li>
						<%= truncate(@room.description, :length => 50, :separator => ' ') %>
					</li>
				</ul>
			</li>
			<li class="nav-header">
				Users (<span id="num-users"><%= @usersIn.size%></span>)
			</li>
			<li id="liUsers">

				  <% for user in @usersIn %>
				    <% if user.id == current_user.id %>
				    	<a href="#" class="elpropio user_<%= user.id%>" id="<%= user.id%>">
							<i class="icon-star"></i>
							<%= user.username%>
						</a>
					<% else %>
						<% if user.device == "web" %>
							<a href="#" class="user_<%= user.id%> parner" id="<%= user.id%>">
								<i class="icon-user"></i>
								<%= user.username%>
								<span class='newMessages badge badge-important'>0</span>
							</a>	
							<div id="private_message_<%= user.id%>" class="private_messages">
								<header class="header_private">Internal Gossip...<div class="shh">"Shhhhh"</div></header>
								<div class="content">
									<% for messagePrivate in @privateMessages[user.id] %>
									<div class="p_in">
										<span data-id="<%= messagePrivate.user_id %>" class="bodyMessages <%= (current_user.id == messagePrivate.user_id)? 'privateMe':'privateOther' %>"><%= User.find(messagePrivate.user_id).username %>:</span>	
										<span class="created_at"><%= messagePrivate.created_at.strftime("%H:%M") %></span>
										<div class="content_messages"><%= messagePrivate.content %></div>
									</div>
									<% end %>
								</div>
								<footer><div class="arrow">→</div>
									<%= form_for ([@room, @new_message]), remote: true, :url => private_message_path(@room), :html => { :id => "private_input_form_#{user.id}"}  do |f| %>
									  <%= f.text_field :to, :type => :hidden,  :value => "#{user.id}" %>
									  <%= f.text_field :content, :required=> "required", :placeholder => 'Shhh...' %>
									<% end %>
								</footer>
								
								<%  orderSubscribeTo =  "#{@room.id}#{user.id}#{current_user.id}".chars.sort.join %>
								<%= subscribe_to "/private/#{orderSubscribeTo}" %>
								<script type="text/javascript">
									$(window).data("connected/<%= orderSubscribeTo%>", true);
								</script>

							</div>
						<% else %>
							<a href="#" class="user_<%= user.id%>" id="<%= user.id%>">
								<i class="icon-user"></i>
								<%= user.username%>
								<i class="desktop">Desktop</i>
							</a>	
						<% end %>
					<% end %>
				  <% end %>
			</li>
		</ul>
	</div>
</div>
<div class="span8" id="messages">
	<div class="row" id="messages-inner">
		<ul id="chat">
		  <%= render @messages %>
		</ul>
	</div>
	<div class="row" id="input">
		<%= form_for ([@room, @new_message]), remote: true, :html => { :class => "well"}  do |f| %>
		  <%= f.text_field :room_id, :type => :hidden,  :value => "#{@room.id}" %>
		  <%= f.text_field :content, :required=> "required", :placeholder => 'Message...' %>
		  <%= f.submit "Send" %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(window).bind('beforeunload', function() {
		$.ajax({
			type: "GET",
          	async:false,
          	url: "/rooms/<%= @room.id%>/user_out/<%= current_user.id%>",
          	dataType: "json"
          	}).done(function() { 
            	console.log("Chao!");
          	});
    });
	var privateMessage= ""

	<% publish_to "/rooms/#{@room.id}" do %>
	   $('#liUsers').append("<a id='<%= current_user.id%>' class='user_<%= current_user.id%> parner' ><i class='icon-user'></i><%= current_user.username%><span class='badge badge-important newMessages'>0</span></a>");
	   $("#num-users").text($("#liUsers a").size());
	   var data = "";
	   //Get our messages and subscribe to me
       $.ajax({
       		type: "POST",
          	url: "/rooms/<%= @room.id%>/get_private_messages",
          	data:{ user_id: "<%= current_user.id%>"},
          	success: function(_data, textStatus, xhr){
          		data=_data;
          		do{
          			$("#liUsers #<%= current_user.id%>").after(data);
          			console.log($("#liUsers #<%= current_user.id%>").text());
          		}while(!$("#liUsers #<%= current_user.id%>").exists());
	        }
          });

	<% end %>

	$("#messages-inner").animate({ scrollTop: $("#chat").prop('scrollHeight')}, 1000);

</script>
<%= subscribe_to "/rooms/#{@room.id}" %>






